@model IEnumerable<AlgorythmicsGame.Context.OrganizedMatch>

<link rel="stylesheet" href="~/css/home.css" />
<div class="wrapper">
    <div class="section1 hover01">
        <div class="content">
            <h1 class="sectionTitle">
                Algorythmics Game
            </h1>
            <p>
                <a asp-action="Index" asp-controller="MatchCreate" class="btn ui-button coursesButton">Learn and play!</a>
            </p>
        </div>
        <div class="content">
            @foreach (var item in Model)
            {
                <div class="col-lg-12 list listElement">
                    <div class="col-lg-12 list row algorithmHeader">
                        <div class="col-1 list">
                            @Html.DisplayFor(modelItem => item.MatchId)
                        </div>
                        <p class="col-6 list">Players waiting:</p>
                        <div class="col-1 list">
                            @Html.DisplayFor(modelItem => item.PlayersWaiting)
                        </div>
                        <div class="col-4 list listElementActions">
                            <a asp-action="Index" asp-controller="Game" asp-route-id="@item.MatchId" class="btn ui-button coursesButton">Join!</a>
                        </div>
                    </div>
                </div>
            }
        </div>



        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
</div>


<div class="modal fade" id="congratulations">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 id="badgeTitle" class="modal-title">Animation Finished!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p id="badgeMessage"> Congratulations you won! </p>
                <img id="badgeImage"src="https://algorythmics.ms.sapientia.ro/images/home/join.png" />
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closeModal" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<script>
    var notifications = [
        @if(ViewData["Notifications"] != null) {
            @foreach (var notifications in ViewData["Notifications"] as List<GameBadgesForPlayers>)
            {
                @Html.Raw("{")
                @Html.Raw("BadgeName: '"+notifications.Badge.Name+"',")
                @Html.Raw("BadgeDesc: '"+notifications.Badge.Description + "',")
                @Html.Raw("BadgeImg: '"+notifications.Badge.Image+"'")
                @Html.Raw("}")
            }
        }
    ];

    window.onload = function () {
        $(document).ready(function () {
            if (notifications.length > 0) {
                currentNotification = notifications.pop()
                $('#badgeTitle').text(currentNotification.BadgeName);
                $('#badgeMessage').text(currentNotification.BadgeDesc);
                $('#badgeImage').attr("src", currentNotification.BadgeImg);
                $('#congratulations').modal('show');
            }
            //  event.preventDefault();
        });

        $('#congratulations').on('hidden.bs.modal', function () {
            if (notifications.length > 0) {
                currentNotification = notifications.pop()
                $('#badgeTitle').text(currentNotification.BadgeName);
                $('#badgeMessage').text(currentNotification.BadgeDesc);
                $('#badgeImage').attr("src", currentNotification.BadgeImg);
                $('#congratulations').modal('show');
            }
        });
    }
</script>