@model IndexViewModel
@{
    ViewData["Title"] = "Index";

    ViewData.AddActivePage(ManageNavPages.Index);
}

<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/profilecss.css" />

<div class="profile-container">
    <div class="page-header">
        @if (@Model.User.FirstName == null || @Model.User.FirstName.Equals(""))
        {
            <h1>@Model.User.UserName</h1>
        }
        else
        {
            <h1>@Model.User.FirstName @Model.User.LastName</h1>
        }
            <div class="col-lg-12">
                <div class="progressValue">
                    Lvl:@(Math.Floor((double)Model.UserStats.points / 1000))
                </div>
                <div class=" userProgress progress">
                    <div class="progress-bar " role="progressbar" style="width: @((double)(Model.UserStats.points%1000)/10)%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">@(Model.UserStats.points % 1000)/1000</div>
                </div>
            </div>
        <h3>

            <span>Last match played:</span>
            <span>
                <b>@Model.UserStats.lastMatchDate.Date.ToShortDateString()</b>
            </span>

        </h3>
    </div>
    <div class="row ">

        <div class="col-lg-12" style="padding:5px">
            Here you can see the list of the algorithm which you've played, and the progress you made on them.
        </div>

         @{
            foreach (var algorithmStats in Model.PlayedAlgorithms){
                <div class="col-sm-6 col-lg-4" style="padding:5px">
                    <div class="col-md-12 col-lg-12">
                        <h3 style="text-align: center;">
                            @algorithmStats.Algorithm.Name
                        </h3>
                        <h5>
                            <span>Last played:</span>
                            <span>
                                <b>@algorithmStats.lastMatchDate.Date.ToShortDateString()</b>
                            </span>
                        </h5>
                        <h5>

                            <span>Multiplayer games:</span>
                            <span>
                                <b>@(algorithmStats.victories + algorithmStats.loses)</b>
                            </span>

                        </h5>
                        <div class="col-lg-12">
                            <div class=" userProgress progress">
                                <div class="progress-bar " role="progressbar" style="width: @((double)algorithmStats.victories/(algorithmStats.victories + algorithmStats.loses)*100)%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    @if (algorithmStats.victories != 0)
                                    {
                                        <span>@algorithmStats.victories wins / @algorithmStats.loses loses</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <h5>

                            <span>Singleplayer games:</span>
                            <span>
                                <b>@algorithmStats.singlePlays</b>
                            </span>

                        </h5>
                        <h6>

                            <span>Personal best time:</span>
                            <span>
                                <b>@algorithmStats.bestTimeRecord</b>
                            </span>

                        </h6>

                    </div>

                </div>
            }
        }


    </div>
</div>



@*<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/common/profile.js"></script>*@
@*</environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>*@
